.opencode
.vscode/**
.zao
images
AGENTS.md
CHANGELOG.md
test.py
**/tsconfig.json
tslint.json
**/*.ts
.vscode-test/**
out/test/**
out/src/**
**/*.test.js
test/**
**/*.map
.gitignore
vsc-extension-quickstart.md